body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: black;
    background-image: linear-gradient(135deg, #0f0c29, #302b63, #24243e); 
    background-repeat:fixed;
    
}

nav {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743);
    width: 520px;
    height: 55px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    z-index: 1000;
}

nav a {
    position: relative;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding: 0 15px;
}

nav .underline {
    position: absolute;
    bottom: 8px;
    left: 40px; /* Initial position under Home */
    width: 50px; /* Length under Home */
    height: 3px;
    background: linear-gradient(135deg, #f6d365, #fda085);
    border-radius: 10px;
    transition: 0.5s ease;
}

/* Change underline position based on hovered link */
nav a:nth-child(1):hover ~ .underline { left: 40px; width: 52.5px; }
nav a:nth-child(2):hover ~ .underline { left: 155px; width: 52px; }
nav a:nth-child(3):hover ~ .underline { left: 270px; width: 98px; }
nav a:nth-child(4):hover ~ .underline { left: 432px; width: 66px; }




h1{
    color: #f6d365;
    font-size: 50px;
}
#welcome-to{
    color: #f6d365;
}
h2{
    color:linear-gradient(135deg, #f6d365, #fda085);
    font-size: 45px;
}
h3{
    color:white;
    font-size: 20px;
}
p{
    color: white;
}

.orange-highlight{
    color:  #FFA500;

}
.half-width{
    width: 40%;
    float:left;
    margin-left:5%;
    padding-top: 5%;
    padding-left: 2.8%;
}
.half-width img{
      padding-top: 10%;
    width: 91.5%;
}
#fix1{
    transform: none;
}

.top-banner{
     
    /* background-image: url("image/img2.png");
    background-repeat: no-repeat; */
    /* background-image: linear-gradient(135deg, #0f0c29, #302b63, #24243e); */
}
section{
    
    height: 450px;
    padding-bottom: 200px;
}
.nav{
     height: 20px;
    padding-bottom: 5px;
}
.link-button{
    text-decoration: none;
    background:black;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.link-button:hover{
    background: linear-gradient(135deg, #1877F2, #3b5998);
}

